* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #bee3db;
    color: #343a40;
    display: flex;
    flex-direction: column;
    
}


@keyframes color-change {
    0% {
      color: #62b9f7; 
   }
    25% {
      color: #2ecc71; 
    }
    50% {
        color: #e67e22; 
   }
    75% {
       color: #9b59b6; 
   }
    100% {
         color: #e74c3c; 
   }
  }

        
.spotlight-title {
  font-size: 3.5em; 
  font-weight: 700;
  margin-bottom: 20px; 
  animation-name: color-change; /* Name of the @keyframes rule */
  animation-duration: 8s; 
  animation-iteration-count: infinite; 
  animation-timing-function: ease-in-out; 
  animation-direction: alternate; 
  text-align: center;
}

.spotlight {
    border: 1px solid #dee2e6;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    
}

.spotlight img {
    height: auto;
    border-radius: 4px;
    width: 12rem;
    object-fit: contain;
    margin-right: 15px;

}

.most-watched-item img{
    width: 100px;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
    flex-shrink: 0;
}