* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #bee3db;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

.background {  
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-title{
  font-size: 2rem;
  color: #2d3748;
  margin: 1.5rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 4rem auto;
  background-color: #d6eadf;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  border: #bee3db solid 3px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}